
/*
	Helper hacks
*/

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }

html * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red;
}

body {
	font-family: Helvetica Neue, Arial, sans-serif;
}

h2 {
    text-align: right;
}

label {
	font-weight: bold;
	margin-left: 10px;
}

.labelLang {
	margin-left: 50px;
}

input {
	padding: 5px;
}

input[name="lang"] {
	width: 200px;
}

li {
	cursor: pointer;
	margin: 10px;
}

li.learned {
	text-decoration: line-through;
}

.language {
	transition: all .3s ease;
	height: 30px;
	padding: 10px;
	background-color: #eee;
	overflow: hidden;
}
.language.expand-enter, .language.expand-leave {
	height: 0;
	padding: 0 10px;
	opacity: 0;
}


/*   TESTING NEW INSTANCE */
.container {
  background: beige;
}


.map {
  height: 1000px;
  background: silver;
}
